<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div class="grid"> 
      <div class="row text-center d-block"><a href="https://www.linkedin.com/in/bhanuka-gamage-411897148/"><img src="./assets/linkedin.png" style="height: auto; width: 5%"></a></div>
      <div class="row text-center d-block"> <h1>Bhanuka Gamage</h1></div>
      <div class="row text-center d-block"> <h5>Coming Soon</h5></div>

      <div class="row text-center d-block"> <p>{{timeLeft}}</p></div>

    </div>
</div>

